.hero {
  display: flex;
  align-items: center;
  padding: 1rem 6rem;
  gap: 4rem;
}

.hero-text {
  flex: 1;
}

.hero-text h1 {
  font-family: "Lora", serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.2;
}

.hero-text p {
  color: #555;
  font-family: "roboto", sans-serif;
  margin: 1.5rem 0;
}

.hero-button {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.75rem 1rem;
  background: #ffae00;
  color: #fff;
  border-radius: 30px;
  text-decoration: none;

  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
  font-weight: 200;
}
.icon-eye {
  width: 16px;
  height: 16px;
}

.hero-image {
  width: 680px;
  height: 480px;
  aspect-ratio: 720 / 480;
  max-width: 100%;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding: 2rem;
  }

  .hero-image,
  .hero-text {
    width: 100%;
  }

  .hero-text h1 {
    font-size: 2.5rem;
  }
}